<div class="sample-form-page">
  <mat-card class="user-card" *ngIf="displayUser">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="user_name" [(ngModel)]="user" (ngModelChange)="ngOnChanges($event)">
        <mat-icon matSuffix [ngClass]="valid? 'green': 'black'" (click)="enterUser()">account_circle</mat-icon>
        <mat-hint>A kickass username</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-card class="fact-card" *ngIf="display">
    <mat-card-header>
      <mat-card-title>Random Facts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <section *ngIf="sectionFact">
        <p>
          {{ displayFact.text }}
        </p>
      </section>
      <section *ngIf="!sectionFact">
        <table>
          <thead>
            <th>Fact</th>
            <th>Rating</th>
          </thead>
          <tbody>
            <tr *ngFor="let row of factList.facts">
              <td>{{row.text}}</td>
              <td><button mat-icon-button (click)="rateFact(row.rating-1, row)">
                  <mat-icon>arrow_circle_down</mat-icon>
                </button>
                {{row.rating}}<button mat-icon-button (click)="rateFact(row.rating+1, row)">
                  <mat-icon>arrow_circle_up</mat-icon>
                </button></td>
            </tr>
          </tbody>
        </table>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button *ngIf="sectionFact" (click)="likedFact()">{{ likeLabel }}</button>
      <button mat-button (click)='displayList()'>{{ sectionLabel }}</button>
    </mat-card-actions>
  </mat-card>
</div>
