<div class="sample-form-page">
  <mat-card class="user-card" *ngIf="displayUser">
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="user_name" [(ngModel)]="user" (ngModelChange)="ngOnChanges($event)">
        <mat-icon matSuffix [ngClass]="valid? 'green': 'black'" (click)="enterUser()">account_circle</mat-icon>
        <mat-hint>A kickass username</mat-hint>
      </mat-form-field>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input matInput >
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="enterUser()">Enter</button> -->
    </mat-card-content>
  </mat-card>
  <mat-card class="fact-card" *ngIf="display">
    <mat-card-header>
      <mat-card-title>Random Facts</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ displayFact.text }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Like</button>
      <button mat-button>My List</button>
    </mat-card-actions>
  </mat-card>
</div>
